doctype html
html
  head
    meta(charset="UTF-8")
    title MarkSearch Extension Options
  body
    #optionsPanel
      nav
        ol
          li.selected(data-show-hide-div-id='#lookAndBehaviour') Look & Behaviour
          li(data-show-hide-div-id='#setup') Setup
          li(data-show-hide-div-id='#helpAbout') Help/About
      #settings
        section#lookAndBehaviour
          .flexrow#optionsHelpLink
            span You Can Get Help And Information About These Settings Here: 
            a(href='https://github.com/Darkle/MarkSearch#chromeExtensionOptions') MarkSearch Chrome Extension Help
          h3 Search Engines
          .settingsGroup#integratedSearches
            span Integrate MarkSearch Results With The Following Search Engines:
            .flexrow
              .checkbox
                label
                  input(type='checkbox', name='googleSearchCheckbox', id='googleSearchCheckbox', data-setting-key='integrateWithGoogleSearch')
                  span Google
              .checkbox
                label
                  input(type='checkbox', name='bingSearchCheckbox', id='bingSearchCheckbox', data-setting-key='integrateWithBingSearch')
                  span Bing
              .checkbox
                label
                  input(type='checkbox', name='duckduckgoSearchCheckbox', id='duckduckgoSearchCheckbox', data-setting-key='integrateWithDuckduckgoSearch')
                  span DuckDuckGo
              .checkbox
                label
                  input(type='checkbox', name='baiduSearchCheckbox', id='baiduSearchCheckbox', data-setting-key='integrateWithBaiduSearch')
                  span Baidu
          h3 Search Page Results Integration
          .settingsGroup
            .settingsGroup.flexcolumn#resultsAtTop
              .checkbox
                label
                  input(type='checkbox', name='msResultsAtTop', data-setting-key='msResultsAtTop')
                  span Show MarkSearch Results At The Top Of The The Search Engine Search Results Page
              .settingsSubGroup
                .flexrow
                  span Number Of Results To Show:
                  input(
                    type='number', 
                    min='1'
                    name='msResultsAtTop_numberOfResultsToShow', 
                    data-setting-key='msResultsAtTop_numberOfResultsToShow'
                  )
            .settingsGroup.flexcolumn#resultsInterspersed
              .checkbox
                label
                  input(type='checkbox', name='msResultsInterspersed', data-setting-key='msResultsInterspersed')
                  span Intersperse MarkSearch Results On The Search Engine Search Results Page
              .settingsSubGroup
                .flexrow
                  span Number Of Results To Intersperse:
                  input(
                    type='number', 
                    min='1'
                    name='msResultsInterspersed_numberOfResultsToShow', 
                    data-setting-key='msResultsInterspersed_numberOfResultsToShow'
                  )
            .settingsGroup.flexcolumn#resultsAtBottom
              .checkbox
                label
                  input(type='checkbox', name='msResultsAtBottom', data-setting-key='msResultsAtBottom')
                  span Show MarkSearch Results At The Bottom Of The The Search Engine Search Results Page
              .settingsSubGroup
                .flexrow
                  span Number Of Results To Show:
                  input(
                    type='number', 
                    min='1'
                    name='msResultsAtBottom_numberOfResultsToShow', 
                    data-setting-key='msResultsAtBottom_numberOfResultsToShow'
                  )
          h3 MarkSearch Results Box
          .settingsGroup#msResultsBox
            .checkbox
              label
                input(type='checkbox', name='msResultsBox', data-setting-key='msResultsBox')
                span Show MarkSearch Results Box On The Side Of The Search Engine Search Results Page
            .settingsSubGroup
              .flexrow.selectBoxContainer
                span Box Position:
                select#msResultsBoxPosition(data-setting-key='msResultsBox_Position')
                  option(value="right") Right
                  option(value="left") Left
              .flexcolumn
                span Show The MarkSearch Results Box Via:
                .flexrow.msResultsBox_radio
                  input.msResultsBoxRadio#msResultsBoxRadio1(type='radio', name='msResultsBox_ShowViaClick', data-setting-key='msResultsBox_ShowViaClick')
                  span Click
                .flexrow.msResultsBox_radio
                  input.msResultsBoxRadio#msResultsBoxRadio2(type='radio', name='msResultsBox_ShowViaAlwaysShow', data-setting-key='msResultsBox_ShowViaAlwaysShow')
                  span Always Show
              .flexrow.sidebarColor
                span Results Box SideBar Color: 
                input(type='color', name='msResultsBox_SidebarColor', data-setting-key='msResultsBox_SidebarColor')
                button Revert To Default Color
          h3 MarkSearch Search Button
          .settingsGroup#msButtonOptionContainer
            .checkbox
              label
                input(type='checkbox', name='showMSsearchButton', data-setting-key='showMSsearchButton')
                span Show A MarkSearch Search Button On Search Engine Start Page & Search Engine Search Page
          h3 Prebrowsing
          .settingsGroup#msPrebrowsingOptionContainer
            .checkbox
              label
                input(type='checkbox', name='msResultsPrebrowsing', data-setting-key='msResultsPrebrowsing')
                span Add Prebrowsing To The First 2 MarkSearch Results
          h3 Importing & Exporting Bookmarks
          .settingsGroup#importExport
            span You Can Import & Export Bookmarks Via The Desktop App Settings
        section#setup
          h3 MarkSearch Extension Token
          .input-box
            input#extensionToken(type='text', spellcheck='false', data-setting-key='extensionToken')
          div (You can get the extension token from the MarkSearch desktop app settings. The MarkSearch desktop app 
              | settings can be accessed by right-clicking on the MarkSearch icon in the system tray on Windows & Linux, or 
              | by clicking the MarkSearch icon in the menu bar on OSX)
        section#helpAbout
          div#help
            h3 Help
            div
              | Help for the extension is available here: 
              a(href='https://github.com/Darkle/MarkSearch#helpMenuExtention', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch#helpMenuExtention
            div
              | Help for the desktop app is available here: 
              a(href='https://github.com/Darkle/MarkSearch#helpMenuMarkSearch', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch#helpMenuMarkSearch
          div#about
            h3 About
            div#marksearchChromeExtensionVersionNumber MarkSearch Chrome Extension Version: 
            div
              | MarkSearch Chrome Extension Repo: 
              a(href='https://github.com/Darkle/MarkSearch-Chrome-Extension', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch-Chrome-Extension
            div
              | MarkSearch Desktop App Repo:  
              a(href='https://github.com/Darkle/MarkSearch', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch
          div#bugs
            h3 Bugs
            div
              | You can report any bugs for the extension here:  
              a(target='_blank', href='https://github.com/Darkle/MarkSearch-Chrome-Extension/issues', rel='noopener') https://github.com/Darkle/MarkSearch-Chrome-Extension/issues
              br
              | You can report any bugs for the desktop app here:  
              a(target='_blank', href='https://github.com/Darkle/MarkSearch/issues', rel='noopener') https://github.com/Darkle/MarkSearch/issues
