doctype html
html
  head
    meta(charset="UTF-8")
    title MarkSearch Extension Options
  body
    #optionsPanel
      nav
        ol
          li.selected(data-show-hide-div-id='#lookAndBehaviour') Look & Behaviour
          li(data-show-hide-div-id='#setup') Setup
          li(data-show-hide-div-id='#helpAbout') Help/About
      #settings
        section#lookAndBehaviour
          .settingsGroup.flexcolumn
            span Integrate MarkSearch Results With The Following Search Engines:
            .flexrow#integratedSearches
              .checkbox
                label
                  input(type='checkbox', name='googleSearchCheckbox', id='googleSearchCheckbox', data-setting-key='integrateWithGoogleSearch')
                  span Google
              .checkbox
                label
                  input(type='checkbox', name='bingSearchCheckbox', id='bingSearchCheckbox', data-setting-key='integrateWithBingSearch')
                  span Bing
              .checkbox
                label
                  input(type='checkbox', name='duckduckgoSearchCheckbox', id='duckduckgoSearchCheckbox', data-setting-key='integrateWithDuckduckgoSearch')
                  span DuckDuckGo
              .checkbox
                label
                  input(type='checkbox', name='baiduSearchCheckbox', id='baiduSearchCheckbox', data-setting-key='integrateWithBaiduSearch')
                  span Baidu
            .moreInfo
              a(href='https://github.com/Darkle/MarkSearch#helpMenuExtensionIntegratedSearches', target='_blank', rel='noopener') More Info
          .settingsGroup.flexcolumn#msResultsBox
            .checkbox
              label
                input(type='checkbox', name='msResultsBoxEnabled', id='msResultsBoxEnabled', data-setting-key='msResultsBoxEnabled')
                span Show MarkSearch Results Box On The Side Of The Search Engine Search Results Page
            .settingsSubGroup
              .flexrow.selectBoxContainer
                span Box Position:
                select#msResultsBoxPosition(data-setting-key='msResultsBoxPosition')
                  option(value="right") Right
                  option(value="left") Left
              //- .checkbox
              //-   label
              //-     input(type='checkbox', name='msResultsBoxShowAutomatically', id='msResultsBoxShowAutomatically', data-setting-key='msResultsBoxShowAutomatically')
              //-     span Always Show The MarkSearch Results Box Automatically
              .flexrow.selectBoxContainer
                span Show The MarkSearch Results Box Via:
                select#msResultsBoxShowVia(data-setting-key='msResultsBoxShowVia')
                  option(value="click") Click
                  option(value="hover") Hover
                  option(value="always") Always Show
              .moreInfo
                a(href='https://github.com/Darkle/MarkSearch#helpMenuExtensionIntegratedSearches', target='_blank', rel='noopener') More Info
          .settingsGroup.flexcolumn#resultsAtTop
            .checkbox
              label
                input(type='checkbox', name='msResultsAtTop', id='msResultsAtTop', data-setting-key='msResultsAtTop')
                span Show MarkSearch Results At The Top Of The The Search Engine Search Results Page
            .settingsSubGroup
              .flexrow
                span Number Of Results To Show:
                input(
                  type='number', 
                  min='1'
                  name='msResultsAtTop_numberOfResultsToShow', 
                  id='msResultsAtTop_numberOfResultsToShow', 
                  data-setting-key='msResultsAtTop_numberOfResultsToShow'
                )
              .moreInfo
                a(href='https://github.com/Darkle/MarkSearch#helpMenuExtensionIntegratedSearches', target='_blank', rel='noopener') More Info                
          .settingsGroup.flexcolumn#resultsInterspersed
            .checkbox
              label
                input(type='checkbox', name='msResultsInterspersed', id='msResultsInterspersed', data-setting-key='msResultsInterspersed')
                span Show MarkSearch Results At The Top Of The The Search Engine Search Results Page
            .settingsSubGroup
              .flexrow
                span Number Of Results To Intersperse:
                input(
                  type='number', 
                  min='1'
                  name='msResultsInterspersed_numberOfResultsToShow', 
                  id='msResultsInterspersed_numberOfResultsToShow', 
                  data-setting-key='msResultsInterspersed_numberOfResultsToShow'
                )
              .moreInfo
                a(href='https://github.com/Darkle/MarkSearch#helpMenuExtensionIntegratedSearches', target='_blank', rel='noopener') More Info                
          .settingsGroup.flexcolumn#resultsAtBottom
            .checkbox
              label
                input(type='checkbox', name='msResultsAtBottom', id='msResultsAtBottom', data-setting-key='msResultsAtBottom')
                span Show MarkSearch Results At The Bottom Of The The Search Engine Search Results Page
            .settingsSubGroup
              .flexrow
                span Number Of Results To Show:
                input(
                  type='number', 
                  min='1'
                  name='msResultsAtBottom_numberOfResultsToShow', 
                  id='msResultsAtBottom_numberOfResultsToShow', 
                  data-setting-key='msResultsAtBottom_numberOfResultsToShow'
                )
              .moreInfo
                a(href='https://github.com/Darkle/MarkSearch#helpMenuExtensionIntegratedSearches', target='_blank', rel='noopener') More Info
          .settingsGroup.flexcolumn#importExport
            span You Can Import/Export Bookmarks Via The Desktop App Settings
            .moreInfo
              a(href='https://github.com/Darkle/MarkSearch#helpMenuExtensionIntegratedSearches', target='_blank', rel='noopener') More Info
          //- h3 Content
          //- .checkbox
          //-   label
          //-     input#badge_counter(type='checkbox')
          //-     span Show the number of flash players in the toolbar icon
          //- .checkbox
          //-   label
          //-     input#menu_indicator(type='checkbox')
          //-     span Show a green toolbar icon for 'allowed' sites
          //- .checkbox
          //-   label
          //-     input#player_reblock(type='checkbox')
          //-     span Add a 'Close' button to each flash player
          //- .settings-row
          //-   span Placeholder icon:
          //-   select#placeholder_icon
          //-     option(value='pluginlogo.svg') Plugin logo
          //-     option(value='flashlogo.svg') Flash logo
          //-     option(value='') None
          //- .settings-row
          //-   span Placeholder color:
          //-   input#placeholder_color(type='color')
          //- h3 Tools
          //- .checkbox
          //-   label
          //-     input#context_menu(type='checkbox')
          //-     span Add commands to context menu
          //- .checkbox
          //-   label
          //-     input#devtools_panel(type='checkbox')
          //-     span Integrate with Chrome DevTools
        section#setup
          h3 MarkSearch Extension Token
          .input-box
            input#extensionToken(type='text', spellcheck='false', data-setting-key='extensionToken')
          div (You can get the extension token from the MarkSearch desktop app settings. The MarkSearch desktop app 
              | settings can be accessed by right-clicking on the MarkSearch icon in the system tray on Windows & Linux, or 
              | by clicking the MarkSearch icon in the menu bar on OSX)
        section#helpAbout
          div#help
            h3 Help
            div
              | Help for the extension is available here: 
              a(href='https://github.com/Darkle/MarkSearch#helpMenuExtention', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch#helpMenuExtention
            div
              | Help for the desktop app is available here: 
              a(href='https://github.com/Darkle/MarkSearch#helpMenuMarkSearch', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch#helpMenuMarkSearch
          div#about
            h3 About
            div#marksearchVersionNumber MarkSearch Version: 
            div
              | MarkSearch Chrome Extension Repo: 
              a(href='https://github.com/Darkle/MarkSearch-Chrome-Extension', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch-Chrome-Extension
            div
              | MarkSearch Desktop App Repo:  
              a(href='https://github.com/Darkle/MarkSearch', target='_blank', rel='noopener') https://github.com/Darkle/MarkSearch
          div#bugs
            h3 Bugs
            div
              | You can report any bugs for the extension here:  
              a(target='_blank', href='https://github.com/Darkle/MarkSearch-Chrome-Extension/issues', rel='noopener') https://github.com/Darkle/MarkSearch-Chrome-Extension/issues
              br
              | You can report any bugs for the desktop app here:  
              a(target='_blank', href='https://github.com/Darkle/MarkSearch/issues', rel='noopener') https://github.com/Darkle/MarkSearch/issues
